.Footer
{
    min-height: 400px;
    width: 100%;
   
    background-color: black;
    display:flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

.footerb
{
    height: 180px;
    width: 300px;
    
    float: left;
    color: white;
    text-align: center;
    
}
.footerb a{
    text-decoration: none;
}
