#outerbox{
    z-index:-1000;
    height:600px;
    width:100%;
    overflow:hidden; 
    position:relative;
    
}

#sliderbox{
    position: absolute;
    top: 0;
    width:5380px;
    animation-name:slide;
    animation-duration:20s;
    animation-iteration-count: infinite;
    display: flex;
    

}

#sliderbox img{
    width:100vw;
    
}

@keyframes slide
{

    0%
    {
        left: 0px;
    }

    20%
    {
        left:0px;
    }
    25%
    {
         left:clac(-100 * 1)px;
    }

    45%
    {
        left:clac(-100 * 1)px;

    }

    50%
    {
        left:clac(-100vw*2)px;
    }

    70%
    {
        left:clac(-100vw*2)px;
    }

    75%
    {
        left:clac(-100vw*3);
    }

    95%
    {
        left:clac(-100vw*3);

    }

    100%
    {
        left:clac(-100vw*4);
    }




}

