@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#menu
{
    width: 100%;
    background-color: #f07c00;
    height: 70px;    
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
}

#menu .mainmenu
{
    display: flex;
    list-style: none;
    gap: 30px;    
}

#menu .mainmenu .menu-option a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
#menu .mainmenu .menu-option a::after
{
    content: '';
    display: block;
    position: relative;
    left: -5px;
    width: 0px;
    height: 3px;
    background-color: white;
    transition: .5s;
}
#menu .mainmenu .menu-option a:hover::after
{
    width: 55px;
}


.menuicon
{
    font-size: 50px;
    color: white;
    cursor: pointer;
    display: none;
}



/* submenu */
.has-submenu
{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.submenu
{
    padding: 0px;
    position: absolute;
    left: -60px;
    top: 51px;
    height: 0;
    background-color: #d83737;    
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 99;
    transition: .5s;
    overflow: hidden;
}

.submenuon
{
    height: 350px;
    padding: 20px;
}




@media screen and (max-width:850px){
    .menuicon
    {
        display: block;
    }

    .mainmenu
    {
        position: absolute;
        background-color: #ff911b;
        width: 300px;
        box-shadow: 3px 3px 5px #000000;
        top: 0;
        left: -340px;
        height: 100vh;
        flex-direction: column;
        padding-top: 100px;
        align-items: center;
        transition: 1s;
    }

    .mainmenu-visable
    {
        left: 0px;
    }

}
