.heading-topfood
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.top_cat
{
   border:0px solid black;
   display:flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   gap:50px;
}

.top_cat_pro
{
    border:0px solid red;
    max-width:370px;
    min-height:265px;
    float:left;
    margin-top: 20px;
    margin-bottom:20px;
    padding-bottom: 20px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.4),0 6px 20px 0 rgba(0,0,0,0.35);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 1s;
}

.top_cat_pro:hover
{
    transform: scale(1.05);
}

.top_cat_pro img{
    width:100%;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
    border-bottom: 5px solid #f07c00;
}

.checked
{
    color:orange;
}

.stars
{
    border:0px solid black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars span
{
    margin: 20px 7px 20px 7px;
    font-size: 30px;
}

.pname p
{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;

}

@media screen and (max-width:390px) {
    .top_cat_pro
    {
        margin: 20px;

    }
    .top_cat
    {
        gap: 0px;
    }
}